---
layout: page
refactor: true
panel_includes:
  - toc
tail_includes:
  - related-posts
  - post-nav
  - comments
---

<h1 data-toc-skip>{{ page.title }}</h1>

<div class="post-meta text-muted">
  <div class="d-flex justify-content-between">
    <div class="author-container">
      <img
        src="/assets/img/profile/profile.png"
        alt="작성자 프로필"
        class="author-avatar"
      />
      <div class="author-info">
        <div class="author-name">Yoon-Min</div>
        <div class="post-date">
          <span>
            {{ site.data.locales[site.lang].post.posted }} {% include
            datetime.html date=page.date tooltip=true %}
          </span>
          <span>{% include read-time.html content=content prompt=true %}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .post-meta -->

<div class="post-content">{{ content }}</div>

<div class="post-tail-wrapper text-muted">
  <!-- categories -->
  <!-- tags -->
  {% if page.tags.size > 0 %}
  <div class="post-tags">
    <i class="fa fa-tags fa-fw mr-1"></i>
    {% for tag in page.tags %}
    <a
      href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}/"
      class="post-tag no-text-decoration"
    >
      {{- tag -}}
    </a>
    {% endfor %}
  </div>
  {% endif %}

  <div
    class="post-tail-bottom d-flex justify-content-between align-items-center mt-3 pt-5 pb-2"
  >
    {% include post-sharing.html %}
  </div>
  <!-- .post-tail-bottom -->
</div>
<!-- div.post-tail-wrapper -->

<script
  src="https://utteranc.es/client.js"
  repo="Yoon-Min/Yoon-Min.github.io"
  issue-term="pathname"
  theme="github-light"
  crossorigin="anonymous"
  async
></script>
